html,
body {
  font-family: Campton, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $black;
  font-size: 16px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.4;
  @include bp(768) {
    font-size: 5vw;
  }
  @include bp(1024) {
    font-size: 2rem;
  }
  @include bp(1200) {
    font-size: 2.6rem;
  }
  @include bp(1400) {
    font-size: 2.8rem;
  }
  @include bp(1600) {
    font-size: 3.6rem;
  }
  @include bp(1920) {
    font-size: 3.8vw;
  }
  strong {
    font-weight: 700;
  }
  span.copy-line {
    display: block;
    &:last-child {
      font-weight: 700;
    }
  }
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

.title-reveal {
  position: relative;
  .copy-line {
    overflow: hidden;
    display: table;
  }
  .word {
    display: inline-block;
    opacity: 0;
  }
  &.is-inview .word {
    animation: slide-in-words 0.8s $easing both;
    animation-delay: calc(20ms * var(--word-index));
  }
}

.subhead {
  margin-bottom: 1rem;
}

.section-caption {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  &:after {
    content: "";
    position: relative;
    border-top: 1px solid $black;
    height: 1px;
    display: inline-block;
    width: 40vw;
    margin-left: 1rem;
  }
}

.section-caption-wrapper {
  position: relative;
  overflow: hidden;
  display: table;
  .section-caption {
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 0.6s $easing, transform 0.6s $easing;
  }
  &.is-inview .section-caption {
    opacity: 1;
    transform: translateY(0);
  }
}

p,
a,
ul,
li {
  font-family: "Campton", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 1.2rem;
  text-decoration: none;
  list-style: none;
  text-indent: 0;
  padding: 0;
  @include bp(400) {
    line-height: 1.4;
  }
  @include bp(768) {
    line-height: 1.5;
    font-size: 1.3rem;
  }

  @include bp(1400) {
    font-size: 1.3rem;
    line-height: 1.7;
  }
  @include bp(1800) {
    font-size: 1.5rem;
  }
  strong {
    font-weight: 700;
  }
}
p {
  margin-top: 1.2rem;
  &:first-child {
    margin-top: 0;
  }
}

a:visited {
  color: initial;
}

.cta-link {
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.5s ease;
  &:hover {
    color: $darkOrange;
  }
}
.body-copy {
  position: relative;
  width: 33vw;
  .subhead,
  p {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.6s ease, transform 0.6s $easing;
  }
  &.is-inview {
    .subhead,
    p {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.connect__details {
  h3 {
    font-size: 2rem;
    line-height: 1.7;
    color: $black;
  }
  a {
    &:hover {
      h3 {
        color: $brown;
      }
    }
  }
}
