.about__container {
  @extend .section-container;
  position: relative;
  background: $anthracite;
  color: #fff;
  max-width: 100vw;
  overflow: hidden;

  .about-texture-bg.full-width {
    @include abs100();
    width: 100%;
    height: 150%;
    top: -50%;
    .inner-texture {
      background: url("~/assets/tex-worms.jpg") repeat 0/300px;
      opacity: 0.075;
    }
  }
  .about-texture-bg.pull-right {
    @include abs100();
    width: 200%;
    left: 45%;
    background: lighten($anthracite, 20%);
    clip-path: polygon(
      calc(0.36397023426 * 400vh) 0,
      100% 0,
      100% 100%,
      0 100%
    );
    .inner-texture {
      background: url("~/assets/tex-worms.jpg") repeat 0/300px;
    }
  }
}
.about__content {
  @extend .content-block;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

.about__scroller-wrapper {
  // position: absolute;
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 1s ease, transform 3s $easing;
  &.is-inview {
    transform: translateX(0);
    opacity: 1;
  }
}

#scroll-trigger-2 {
  position: absolute;
  height: 250vh;
  background-color: yellow;
  width: 2px;
}

.about__images {
  position: absolute;
  display: flex;
  left: 70%;
  top: 37vh;
  .about__img {
    position: relative;
    width: 25vw;
    height: 22vw;
    display: inline-block;
    margin-left: 60px;
    background: $anthracite;
    &:first-child {
      margin-left: 0;
    }
    .inner-image {
      position: relative;
      width: 100%;
      height: 100%;
      display: inline-block;
      background-size: cover;
      // filter: grayscale(100%);
      mix-blend-mode: screen;
      &::after {
        content: "";
        @include abs100();
        display: inline-block;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0) 60%
        );
      }
    }
  }
}

.about__stats {
  display: flex;
  position: absolute;
  top: 65vh;
  left: 70%;
  width: auto;
  .stat-wrapper {
    margin-left: 60px;
    display: flex;
    text-shadow: 0 0 10px #000;
    &:first-child {
      margin-left: 0;
    }
    .stat {
      color: $brightGreen;
      font-weight: 200;
      font-size: 8vw;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    .stat__text {
      margin-left: 2rem;
      width: 22vw;
      min-width: 440px;
      p {
        margin-top: 1rem;
      }
    }
  }
}

.about__body {
  margin: 100vh 0 200vh 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
