.clients__container {
  @extend .section-container;
  // height: 120vh;
  background: $darkTeal;
  color: #fff;
}
.clients__content {
  @extend .content-block;
  @extend .content-block--extra-pad;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.clients__body {
  width: 100%;
  @include bp(1024) {
    width: 60%;
  }
}

.clients__logos-scroller {
  position: relative;
  margin-top: 20vh;
  mix-blend-mode: multiply;
  opacity: 0;
  transition: opacity 1s $easing;
  &.is-inview {
    opacity: 1;
  }

  .logo-row {
    display: flex;

    &.logos-row-1 {
      margin-left: auto;
      padding-right: 20vw;
    }
    &.logos-row-2 {
      margin-top: 6rem;
      padding-left: 20vw;
    }
  }
  .logo-wrapper {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 90px;
    margin-left: 2rem;
    background: #fff;
    padding: 0.75rem 1rem;
    @include bp(768) {
      margin-left: 6rem;
      width: 280px;
      height: 150px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  .logo-inner {
    // @include abs100();
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    // background-blend-mode: screen;
    // mix-blend-mode: screen;
  }
  .is-mobile & {
    display: none;
  }
}
.clients__logos--mobile {
  position: relative;
  margin-top: 4rem;
  width: 100%;
  .logos-grid-mobile {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    @include bp(768) {
      gap: 40px;
    }
    @include bp(1024) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 80px 40px;
    }
  }
  .logo-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 60px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $darkTeal;
    // mix-blend-mode: multiply;
    background-blend-mode: multiply;
  }
}

.clients__cta a:hover {
  transition: color 0.2s ease;
  color: $brightGreen;
}
