$connectHeight: 115vh;
.connect__container {
  @extend .section-container;
  background: $darkTeal;
  color: #fff;
  @include bp(768) {
    height: $connectHeight;
  }
}
.connect__content {
  @extend .content-block;
  @extend .content-block--extra-pad;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.connect__content-inner {
  position: relative;
}
.connect__body {
  margin-top: 5vh;
  @include bp(768) {
    margin-top: 10vh;
  }
}

.connect__details {
  margin-top: 5vh;
  display: flex;
  // justify-content: flex-end;
  width: 100%;
  flex-direction: column;
  @include bp(1024) {
    margin-top: 10vh;
    flex-direction: row;
  }
  .connect-loc {
    margin-left: 0;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease, transform 1s $easing;
    transition-delay: 0.5s;
    margin-top: 3rem;
    @include bp(1024) {
      margin-top: 0;
      margin-left: 6rem;
    }
    @include bp(1400) {
      margin-left: 10rem;
    }
    &:first-child {
      transition-delay: 0;
      margin-left: 0;
      margin-top: 0;
    }
  }
  &.is-inview .connect-loc {
    opacity: 1;
    transform: translateX(0);
  }
}

.section-hero-image__wrapper.connect.--right {
  height: 80vh;
  @include clip-edge-h(left, 80vh);
  left: 50%;
  width: 60%;
  bottom: 0;
  top: auto;
  @include bp(768) {
    top: 0;
    width: 46vw;
    left: 70%;
    height: $connectHeight;
    @include clip-edge-h(left, $connectHeight);
  }
  .section-hero-image__inner {
    @include bp(768) {
      left: -30%;
    }
  }
}
.section-hero-image__inner.connect {
  opacity: 0.4;
}

.section-hero-image__wrapper.connect.--left {
  width: 60%;
  left: -10%;
  height: 80vh;
  top: 0;
  @include clip-edge-h(right, 80vh);
  @include bp(768) {
    width: 45vw;
    left: -16vw;
    height: $connectHeight;
    clip-path: polygon(
      0 0,
      100% 0,
      calc(100% - (0.36397023426 * #{$connectHeight})) 100%,
      0 100%
    );
  }
  .section-hero-image__inner {
    left: 0;
    @include bp(768) {
      left: 12%;
    }
  }
}
