#sticky-nav-target {
  @include abs100();
  pointer-events: none;
}
$stickyHeight: 70px;
.nav__sticky-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $stickyHeight;
  z-index: 200;
  &.disabled {
    z-index: -2;
    pointer-events: none;
  }
  &.active {
    pointer-events: initial;
    display: flex;
    .nav__sticky {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.nav__sticky {
  @extend .nav;
  height: $stickyHeight;
  background: none;
  background-color: #fff;
  transform: translateY(-80px);
  opacity: 0;
  transition: transform 0.8s $easing, opacity 0.3s $easing,
    background-color 0.3s ease;

  .circa-logo {
    width: 120px;
    z-index: 10;

    @include bp(400) {
      width: 140px;
    }
    @include bp(1400) {
      width: 180px;
    }
    @include bp(1800) {
      width: 200px;
    }
    a {
      svg,
      img {
        display: block;
        max-width: 100%;
      }
      svg {
        fill: #ccc;
      }
    }
  }
  .nav__links-desktop {
    > * {
      margin-right: 2rem;
      @include bp(1200) {
        margin-right: 3rem;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    li {
      a {
        color: $black;
        font-size: 1.1rem;
        svg {
          fill: $black;
        }
      }
    }
  }
  &.dark {
    background-color: rgba($black, 0.9);
    &:hover {
      background-color: $black;
    }
    .circa-logo {
      svg {
        fill: #fff;
      }
    }
    .nav__links-desktop {
      li a {
        color: #fff;
        svg {
          fill: #fff;
        }
      }
    }
  }
}
