.nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 0 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 201;
  background: linear-gradient(
    180deg,
    rgba(26, 0, 49, 0.2) 0%,
    rgba(65, 0, 123, 0) 100%
  );
  opacity: 0;
  @include bp(375) {
    padding: 0 20px;
    height: 120px;
  }
  @include bp(768) {
    padding: 0 3%;
  }

  .circa-logo {
    width: 120px;
    z-index: 10;

    @include bp(400) {
      width: 140px;
    }
    @include bp(1400) {
      width: 180px;
    }
    @include bp(1800) {
      width: 200px;
    }
    a {
      svg,
      img {
        display: block;
        max-width: 100%;
      }
      svg {
      }
    }
  }
  .nav__links-desktop {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    display: none;
    @include bp(768) {
      display: flex;
    }
    > * {
      margin-right: 2rem;
      @include bp(1024) {
        margin-right: 3rem;
      }
      @include bp(1200) {
        margin-right: 4rem;
      }
      @include bp(2000) {
        margin-right: 5rem;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    li {
      position: relative;
      text-align: center;
      cursor: pointer;
      a {
        color: #fff;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: 500;
        display: flex;
        align-items: center;
      }
    }
  }
}
