#sticky-logo-target {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: none;
  pointer-events: none;
  display: inline-block;
  z-index: -10;
}

.legals__title-block {
  @extend .content-block;
  align-items: flex-end;
  min-height: 30vh;
  height: 30vh;
  padding: 80px 2rem;
  @include bp(768) {
    padding: 10vh 10%;
    height: 50vh;
  }
}

.legals__text {
  background: none;
  padding: 60px 30px;
  @include bp(768) {
    padding: 80px 10%;
  }
  @include bp(1200) {
    padding-right: 20%;
  }
  @include bp(1600) {
    padding-right: 30%;
  }
}

.ancillary-page {
  &.error,
  &.error-404 {
    .hero__container--dark {
      .graphic {
        opacity: 1;
      }
      .graphics__dots-cluster ul li {
        opacity: 1;
      }
    }
  }
}

.error__title-block {
  @extend .legals__title-block;
  height: 80vh;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  .cta-link,
  .cta-link--green {
    opacity: 1;
    margin: 0;
  }
}
