// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #ffffff;
$black: #212a33;
$lightGrey: #f7f9fd;
$midGrey: #dadee7;
//======
$darkBlue: #00304d;
$teal: #039fa0;
//======
$darkTeal: #00787c;
$brightGreen: #c8c143;
//======
$violet: #71266c;
$darkOrange: #e23d2a;
//======
$anthracite: #212a33;
$slate: #477e9f;
//======
$midnight: #000846;
$brown: #b05120;
